{% extends 'base.html.twig' %}

{% block body %}
    <h1>Equipement cree</h1>

    <p>L'equipement a ete cree avec succes.</p>

    <a href="{{ path('equipement_index') }}" class="btn btn-primary">Retour a la liste des equipements</a>
{% endblock %}