{% extends 'base.html.twig' %}

{% block body %}
    <h1>Equipement mis a jour</h1>

    <p>L'equipement a ete mis a jour avec succes.</p>

    <a href="{{ path('equipement_index') }}" class="btn btn-primary">Retour a la liste des equipements</a>
{% endblock %}